/*Variables*/
:root {
    --color_hover: #ffff;
    --color_navbar: #521262;
    --color_navbar_scroll: #e6e6e6;
    --color_navbar_hover: #2e0a37;
    --Titulo_principal: 'Proza Libre', sans-serif;
}

/*Estilos banner*/
.banner_imagen {
    position: absolute;
    width: 100%;
}

/*Estilos navbar*/
.menu {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 100;
}

.menu h1 {
    padding: 3% 0 0 2%;
    font-size: 30px;
    color: #ffff;
    font-family: 'Proza Libre', sans-serif;
}

#menu_logo {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 1% 0 1% 1%;
}

.menu_opciones {
    padding-top: 3%;
}

.menu.scrolled {
    background-color: var(--color_navbar);
    transition: 0.5s;
}

.menu.scrolled .opciones_opcion {
    color: var(--color_navbar_scroll);
}

.menu.scrolled .opciones_opcion:hover {
    color: var(--color_navbar_hover);
}

#link_activo {
    color: #ffff;
    text-decoration: underline;
}

.opciones_opcion {
    color: black;
    font-family: 'Proza Libre', sans-serif;
    font-size: 14px;
}

.opciones_opcion:hover {
    color: var(--color_hover);
    cursor: pointer;
}

/*Estilos contenedor servicios*/
.contenedor_servicios {
    position: relative;
}

.servicios_imagen {
    margin-top: 60%;
    width: 100%;
    height: 400px;
}

.servicios_informes {
    position: absolute;
    top: 150%;
    left: 60%;
}

.informes {
    font-family: 'Edu SA Beginner', cursive;
    color: #ffff;
}

.informes_ver_mas {
    position: absolute;
    left: 30%;
    margin-top: 2%;
    background-color: var(--color_navbar);
    color: #ffff;
    padding: 1% 10% 1% 10%;
    border-radius: 20px;
    text-decoration: none;
}

.informes_ver_mas:hover {
    background-color: var(--color_navbar_scroll);
    border: solid var(--color_navbar);
    color: var(--color_navbar);
}

/*Estilos contenedor Productos*/
.productos_imagen {
    width: 100%;
    height: 400px;
}

.productos_consulta {
    position: absolute;
    top: 210%;
    left: 2%;
}

.consulta {
    font-family: 'Edu SA Beginner', cursive;
    color: black;
}

.consulta_ver_mas {
    position: absolute;
    left: 30%;
    margin-top: 2%;
    background-color: var(--color_navbar);
    color: #ffff;
    padding: 1% 10% 1% 10%;
    border-radius: 20px;
    text-decoration: none;
}

.consulta_ver_mas:hover {
    background-color: var(--color_navbar_scroll);
    border: solid var(--color_navbar);
    color: var(--color_navbar);
}

/*Estilos Pie de pagina*/
.pie-pagina {
    background-color: var(--color_navbar);
}

.pie-pagina_derechos {
    padding: 3% 0 0 2%;
    text-align: center;
    font-size: 30px;
    color: #ffff;
    font-family: var(--Titulo_principal);
}

.pie-pagina_social {
    margin-top: 2% 0 0 2%;
    color: #ffff;
    text-align: center;
    font-size: 30px;
    word-spacing: 20px;
}